* {
	font-family: 'Cutive Mono', monospace;
	box-sizing: border-box;
}
img{
	max-width: 100%;
}
body{
	margin:0;
	border:0;
}
.container{
	display: inline-block;
}

#leftColumn{
	display: inline-block;
	vertical-align: top;
	min-width: 20%;
}

#details-container{
	display: inline-block;
	max-width: 80%;
}

.listings-list{
	display: inline-block;
	max-width: 80%;
}

#single-listing{
	margin: 5% 0 5% 0;
	display: inline-block;
	width:33%;
	min-height: 40%;
	padding: 5px;
	>.title-wrapper	#listingTitle{
			white-space:nowrap;
			overflow:hidden;
			text-overflow:ellipsis;
			text-align: center;
			width:50%;
	}

	>img{
		cursor: pointer;
	}
	
}